<p>Im Folgenden finden Sie einen Link zum von Mycroft generierten Fehlerbehebungspaket:</p>

<ul><tt>
<p><b>Gerätename:</b> {{device_name}}</p>
<p><b>Beschreibung:</b> {{description}}</p>
<a href='{{url}}'>{{url}}</a>
</tt></ul>

<p>
<a href='mailto:support@mycroft.ai?Subject=Troubleshooting%20Package&amp;body=Troubleshooting%20Package:%20{{url}}' target='_top'>Send this to support@mycroft.ai</a> to pass this information to the Mycroft team for further assistance.
</p>
